$color-background = #363636
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = #666
$color-link = rgba(83, 178, 250, 1)
$color-text = #C9B9A5
$color-accent-3 = #b1a874
$color-accent-2 = #db7751
$color-accent-1 = #98a771
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"
